@{
    ViewBag.Title = "Kelly AoC Solutions";
}

<div class="row">
    <div class="col-md-4">
        <h2>Completed Days</h2>
        <p>
            @Html.ActionLink("Day 1: No Time for a Taxicab", "Index", "Day1", null, new { @class = "btn btn-primary"})
        </p>
        <p>
            @Html.ActionLink("Day 2: Bathroom Security", "Index", "Day2", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Day 3: Squares With Three Sides", "Index", "Day3", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Day 4: Security Through Obscurity", "Index", "Day4", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Day 5: How About a Nice Game of Chess?", "Index", "Day5", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Day 6: Signals and Noise", "Index", "Day6", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Day 7: Internet Protocol Version 7", "Index", "Day7", null, new { @class = "btn btn-primary" })
        </p>
        <p><a class="btn btn-link" href="http://adventofcode.com/2016/about">About Advent of Code</a></p>
    </div>
    <div class="col-md-8">
        <img src="~/Content/images/advent_xmasTree.png" alt="Advent Christmas Tree" width="800px"/>
    </div>
    
</div>